{% extends 'base.html.twig' %}



{% block content %}
    <h1>La Sophro-Relaxation</h1>

    <p>
        La Sophro-Relaxation est une méthode préventive et
        thérapeutique qui propose un ensemble de
        techniques basées sur la respiration , la visualisation
        positive et des méthodes psychocorporelles.

        Elle aide au développement personnel visant
        l’harmonie Corps-Esprit :

        C’est en considérant l’individu dans sa globalité que
        la sophrologie permet un accompagnement
        efficace dans les périodes de difficultés ou tout
        simplement dans le développement et
        l’épanouissement personnel, familial ou professionnel.

        C’est à travers des applications simples et
        ludiques quelle vous accompagnera vers un équilibre
        permettant de sortir de l’agitation mentale et de
        transformer en force positive votre quotidien


    </p>
{% endblock %}