{% extends 'base.html.twig' %}



{% block content %}
    <h1>Techniques utilisées :</h1>

    <p>


        Relaxation

        Respiration et la gestion du souffle

        Détente musculaire et mentale

        Visualisation positive

        Sophro-Relaxation Energétique

        Concentration et mémorisation




    </p>
{% endblock %}