{% extends 'base.html.twig' %}



{% block content %}
    <h1>Domaines d’application</h1>

    <p>
        Gestion du stress, de l’anxiété, des angoisses
        et de la dépression.

        Gestion de la douleur, des troubles
        psychosomatiques, des phobies.

        Apprentissage d’une part, à gérer calmement
        une crise de spasmophilie ou de tétanie.
        D’autre part, apprendre les techniques préventives
        afin d’éviter ou de limiter les récidives.

        La Sophro-Relaxation peut aider les asthmatiques.
        Techniquement, elle propose au sujet d’apprendre
        à respirer, à se détendre et à récupérer.

        Gestion des troubles du sommeil.

        Réduction des tensions physiques et
        psychologiques.

        Développement de la confiance en soi,
        l’estime de soi et de son potentiel.

        Compréhension et gestion de ses émotions,
        mieux se connaitre et s’affirmer en améliorant
        sa communication avec soi et les autres.

        Développement d’une pensée positive et
        constructive.

        Se préparer sereinement aux examens,
        aux projets personnels, professionnels, sportifs…

        Développement de la mémoire et de la
        concentration.

        Gestion de ses dépendances (alcool, tabagisme, alimentation…)
    </p>
{% endblock %}