<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sophrologue-Relaxologue{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/build/css/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <header class="container-fluid">
            {% block header %}
                {#<img src="https://i.pinimg.com/236x/70/d9/66/70d966b22fb9b13bfc465cf9a9300c80--dragonflies-coloring.jpg" alt="logo" class="img-thumbnail img-responsive d-inline-block">#}
                <div class="col"><h1 id="mainTitle" class="text-center{# d-inline-block#}">Sophrologue - Relaxologue</h1></div>
            {% endblock %}
        </header>


        <nav class="container-fluid">
            <div class="row">
                <div class="nav nav-tabs">
                    {% block nav %}

                        <a class="nav-item nav-link active" href="/">Accueil</a>
                        <a class="nav-item nav-link" href="/Sophro-relaxation/">La Sophro-Relaxation</a>
                        <a class="nav-item nav-link" href="/Sophro-maternite">Sophrologie et maternité</a>
                        <a class="nav-item nav-link" href="/Sophro-enfant">Sophrologie et Enfance / Adolescence</a>
                        <a class="nav-item nav-link" href="/Sophro-famille">Sophrologie en famille</a>
                        <a class="nav-item nav-link" href="/Applications">Domaines d'application</a>
                        <a class="nav-item nav-link" href="#">Parcours</a>
                        <a class="nav-item nav-link" href="#">Contact</a>

                    {% endblock %}
                </div>
            </div>
        </nav>

        <section id="content"  class="container-fluid">
            <div  class="row">
                <div class="col-8">
                    {% block content %} {% endblock %}
                </div>
                <div class="col-4">
                    <h2>Témoignages</h2>
                    <div class="col-xs-4">
                        <div class="list-group">
                            <div class="list-group-item active">
                                <h4 class="list-group-item-heading">Témoignage 1</h4>
                                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">Témoignage 2</h4>
                                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            {# <a href="#" class="list-group-item">
                                 <h4 class="list-group-item-heading">Item heading</h4>
                                 <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                             </a>
                             <a href="#" class="list-group-item">
                                 <h4 class="list-group-item-heading">Item heading</h4>
                                 <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                             </a>#}
                        </div>
                    </div>
                    {% block aside %}{% endblock %}
                </div>
            </div>
        </section>

        <footer  class="footer">
            <div  class="container-fluid">
                <div class="row justify-content-md-center">
                    {% block footer %}
                    <div class="col-md-auto"><a class="text-dark" href="/">Contact</a></div>
                    <div class="col-md-auto"><a class="text-dark" href="/">Mentions légales</a></div>
                    <div class="col-md-auto"><a class="text-dark" href="/">Ethique et déontologie</a></div>
                    <div class="w-100"></div>
                    <div class="col-md-auto">Copyright © 2017 Sophrologue-Relaxologue - Tous droits réservés Designed by MOA.</div>
                </div>
                {% endblock %}
            </div>
        </footer>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
            <script src="{{ asset('/build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
