{% extends 'base.html.twig' %}



{% block content %}
    <h1>Sophrologie et Enfance / Adolescence</h1>

    <h3>Sophrologie pour les enfants</h3>
    <p>
        C’est à travers le jeu, la voix, le conte, le mouvement
        que l’enfant accomplira des exercices de respiration, de
        relaxation, d’écoute du corps, d’éveil aux sens,
        d’imagination, de concentration et de mémorisation.
        C’est en effet par le jeu, que l’on pourra attirer la
        curiosité de l’enfant et ainsi lui donner envie de
        reproduire ces outils de façon autonome et
        naturelle quand cela lui semblera nécessaire :
        La confiance et l’estime de soi
        L’ouverture aux autres et l’affirmation de soi
        La conscience de soi et des autres
        Découvrir et apprendre à gérer ses émotions…
    </p>

    <h3>Sophrologie pour les adolescents</h3>
    <p>
        Particulièrement indiqué chez les adolescents.
        Il s’agira des même objectifs tout en prenant en compte
        la puberté qui entraîne les modifications physiques et
        psychologiques parfois difficiles à vivre intérieurement:
        Travailler l’image de soi, se réconcilier avec son
        corps et accepter les transformations
        Se voir dans le futur, se projeter vers l’adulte qu’il
        Veut devenir...
        Gérer son énergie à travers le souffle (se calmer ou
        se tonifier)
        Se préparer aux examens sereinement et mettre en
        place le potentiel nécessaire.
    </p>
{% endblock %}