{% extends 'base.html.twig' %}



{% block content %}
    <h1>Sophrologie en Famille</h1>

    <p>
        C’est à travers la Sophro-Relaxation en Famille que vous pourrez influer sur votre niveau de stress et ainsi lutter contre ses effets au quotidien.
        C’est en la pratiquant régulièrement qu’elle vous
        permettra d’améliorer vos rapports familiaux, d’enrichir votre communication pour que chacun trouve sa place.
        Il s’agira avant tout de créer un espace de détente qui
        passera par l’échange, la complicité et la compréhension …


        En fonction des besoins de chacun, la sophrologie et la relaxation permettent de traiter un ou plusieurs
        problèmes clairement identifiés dans le cadre d’un travail thérapeutique personnalisé prenant en compte la globalité de la personne (le caractère, le vécu, les troubles physiologiques et psychologiques…)
        permettant l’équilibre des corps physique, mental et émotionnel.
        Et ainsi, développer une confiance en soi, un mieux être général et enfin une capacité d’espoir et de
        positivisation.
    </p>
{% endblock %}