{% extends 'base.html.twig' %}



{% block content %}
    <h1>Sophrologie et Maternité</h1>

    <h3>Sophrologie pour les stérilités psychogènes</h3>

    <p>
        Il s’agit de lever les blocages d’une stérilité sans aucune
        cause organique, anatomique ou physiologique chez les
        deux partenaires.
    </p>

    <h3>Sophrologie pour les futures mamans</h3>

    <p>
        La sophrologie accompagne la future maman à vivre une
        grossesse harmonieuse et à se préparer à un accouchement
        serein.
        L’accompagnement sophrologique débute dès le 3ème
        ou 4ème mois de grossesse et peut se poursuivre après
        l’accouchement pour bien vivre la période post-natale :
        Gérer le baby blues, la fatigue et les angoisses ou
        simplement rester en forme…
    </p>

    <h3>Sophrologie pour les bébés dès la naissance</h3>

    <p>
        Il s’agit ici de vous transmettre des mouvements doux et
        simples à travers des massages que vous pourrez refaire
        chez vous sans aucune difficulté.
        C’est à travers le toucher que vous pourrez établir un
        contact immédiat, magique et naturel.
        Le massage de bébé est une source indispensable pour son
        bien-être afin de l’accompagner dans sa croissance
        corporelle et mentale.

        Il ne s’agit en aucun cas d’un massage technique mais d’un
        échange ludique, doux et rassurant qui inclus la voix,
        le regard…
    </p>


{% endblock %}